*{

	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{

	src:url(../fonts/sans.ttf);
	font-family: roboto;
}


body{

	font-family: roboto;
	color: #fff;
}

/* Bootstrap classes*/

.container-fluid,.container,.col-sm-3,.col-sm-9{

	padding: 0;
	margin: 0;

}

.navbar{

	min-height: 70px;
	border:0;
	border-radius: 0;
}

.navbar-nav>li>a,.navbar-brand{

	padding-top:25px;
	padding-bottom: 25px;
}

.navbar-brand{

	margin-left: 10px;
}

.navbar-header{

	height: 70px;
	padding-right: 20px;
}

.navbar-toggle{

	margin-top: 20px;
}

.nav > li:nth-child(4) > a:nth-child(1){

	border-right: 1px solid #333;

}


/*Bootstrap classes ends*/

div.header-parallax{

	background: url(../img/bg1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	padding-bottom: 50px;
}

div.header-parallax h1{
/*
	color: purple;*/
	font-size: 70px;
	font-weight: bolder;
	text-shadow: 7px 7px 0px #bc0808,-7px -7px 0px #bc0808;
	margin-top: 100px;
	text-align: justify-all;
	padding: 20px;
}


div.header-parallax h4{

	color: #ccc;
}

div.flex-parallax-bg{

	width: inherit;
	height: inherit;
	background: rgba(0,0,0,.7);
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 100;
}

div.features-container{

	height: 700px;
	color:#000;

}

div.intro-text-p{

	margin-top: 20px;
	margin-left: 20%;
}

@media  (min-width:240px) and (max-width:800px){


    div.intro-text-p{

        margin-left:0px;
        font-style: italic;

    }


	div.header-parallax h1{

		font-size: 50px;
		text-shadow: 3px 3px 10px #bc0808,3px 3px 10px #bc0808;

	}

}