Options -indexes
Options -multiviews

RewriteEngine On
RewriteRule "^login$" "login.php" [QSA,L]
RewriteRule "^signup$" "signup.php" [QSA,L]
RewriteRule "^forgot-password$" "forgot-password.php" [QSA,L]
RewriteRule "^404$" "404.php" [QSA,L]


ErrorDocument 404 /slf2/404.php
ErrorDocument 403 /slf2/403.php