/*s/*splsh screen*/
.splash-screen{

	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1000;

}
/*07062783243*/
/*$_Zicomighty404*/

.splash-screen i{

	font-size: 50px;
}
/*
span.thumb,span.thumb.active{
	background: #0D47A1;
}
*/
.featured{
	padding: 5px;
	width: 65px;
	color: #fff;
	font-weight: lighter;
	text-align: center;
	font-size:0.9em;
	position: absolute;
	top: 0;
	right: 0;
	transform: skewX(-5deg);
}
.brand-logo{
	font-weight: bold;
	letter-spacing: -2px;
}

.appGradient{
	background: -moz-linear-gradient(40deg,purple,#0D47A1);	
	background: -o-linear-gradient(40deg,purple,#0D47A1);
	background: -webkit-linear-gradient(40deg,purple,#0D47A1);
	background: linear-gradient(40deg,purple,#0D47A1);
}
#indexSearchContainer{
	padding-top: 95px;
	padding-bottom: 95px;
	background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)) , url(../img/mainBg.jpg);
	background-attachment: fixed;
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}
.darkTransparentBg{
	background-color: #000;
	opacity: .7;
	width: 100%;
}
input[type="range"]{
	border: none;
}
#indexSearchContainer .select-wrapper input.select-dropdown:focus{
	border-bottom: 1px solid #ccc;
}
#indexSearchContainer div.select-wrapper input{
	color: #fff;
}
.tabContainer{
	margin-top: -48px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-logo{
	font-weight: bold;
	letter-spacing: -1px;
}

.caption h3{
	font-weight: bold;
}
.nav-wrapper{
	padding-left: 10px;
}
.nav-wrapper span{
	font-size: 23px;
}

.slider .indicators .indicator-item{
	width: 25px;
	height: 4px;
	border-radius:0px ;
}

.slider .indicators .indicator-item.active{
	background: #444;
	width: 45px;
	height: 4px;
	border-radius:0px ;
}

#tabContainer{
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	justify-content: center;
	z-index: 555; 
}

input#sl,input#sr{
	border-radius: 55px;
	margin-top: 9px;
}


div.welcome-note{
	margin-top: -40px;
	margin-left: 70px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 300;
}
.user-area div.right a>span{
	font-size: 20px;
}
.login-title{
	font-weight: bold;
}
.login-card{
	height: 480px;
	margin-top: 100px;
}
.login-card input{
	color: #fff;
}
.signup-card{
	height: 730px;
	margin-top: 100px;
}
.login-card p a,.signup-card p a{
	font-size: 1em;
}
.login-img-circle{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
	margin-top: -50px;
	z-index: 1000;
}
.view-panel .card-content{
	padding: 12px;
}
.view-panel .row{
	margin: 0;
}

ul.pagination li.active{
	border: 1px solid #3f51b5;
	background-color: #3f51b5;
	color: #3f51b5;
}
.footer-1{
	border-top: 4px solid #ccc;
	color: #444;
	padding: 30px;
	margin-bottom: 0;
}
.footer-2{
	padding: 5px;
	padding-left: 15px;
	margin-bottom: 0;
}
.my-parallax{
	padding: 50px;
	background: url(../img/overhead.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.view-panel .card-image>img:hover{
	filter: contrast(1.5);
}
.view-panel .card-content span{
	font-size:0.90em;
}
.adverts-panel{
	position: sticky;
	z-index: 500;
	float: right;
	right: 0;
}
span.ad-title{
	position: absolute;
	top: 5;
	left: 10;
	background: #000;
	opacity: .7;
	padding: 5px;
}
.card-image:hover{
	cursor: pointer;
}
div.select-wrapper ul li span{
	color: black;
}
.roomie-img{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin-top: -20px;
}
.roomie-card .btn{
	background:#fff;
}

.tabContainer .tab a{
	color: #fff;
	background:#4a148c; 
	font-weight: 500;
}
.tabContainer .tab a:hover{
	color:#fff;
	background:#4a148c;
}

.tabContainer .tab a.active,.tabs .indicator{
	border-bottom: none;
	background:#fff;
	color: #4a148c;
	font-weight: bold;
}

.tabContainer .tab a.active:hover{
	background:#fff;
}



.tabContainer .tab a:focus, .tabs .tab a:focus.active{
	background-color:#fff;
}

/*.collection-item a div.secondary-content{
	padding: 5px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 2px;
}*/
.collapsible-header i{
	margin-top: 7px;
}
.view-panel .card-content{
	padding: 20px;
	font-weight: bold;
}

.location-title{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
}

.location-title h5{
	text-shadow: 2px 2px 5px blue,2px 2px 5px #000; 
}

.location-item:hover div.container-hover{
	height: 125px;
	filter:unset;
	 transition:height .3s ease-in-out;
	 visibility:visible;
	 padding:0 2% 2%
}

.location-item:hover img{
	filter: blur(1px);
	filter: drop-shadow(9px);
}

div.container-hover{
	overflow: hidden;
    zoom: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    height:0px;
    background: rgba(0,0,0,.5);
    visibility: hidden;
    width: 100%;
    text-align: center;
    color: #fff!important;
    z-index: 2;
}

div.container-hover a.btn{
	border: 2px solid #3f51b5;
	text-transform: capitalize;
}

div.container-hover p{
	font-size: .8em;
	letter-spacing: 1px;
}


input[type=text]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #ccc;
	box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,input[type=email]:not(.browser-default):focus:not([readonly]) + label,input[type=password]:not(.browser-default):focus:not([readonly]) + label{
	color: #7b1fa2;
	font-size: 1.2em;
	font-weight: bold;
}

div.newsletter{
	background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)) , url(../img/mainBg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	padding-top: 55px;
	padding-bottom: 55px;
	position: relative;
	z-index: -55px;
}

.loose-text{
	letter-spacing: 1px;
}

ul.search-menu li i{
	line-height: 12px;
}

ul.tabs.search .tab a:focus.active{
	background-color: transparent;
}

.curved{
	border-radius: 45px;
}

span.search-title{
	line-height: 55px;
}


div#lodge div.card div.card-action p{

	margin: 0;
}

div#lodge div.card div.card-image a.btn{
	z-index: 999;
}


#lodge > div > div.col.s12.l9 > div.row > div.col.s12.m7.l8.card.lodge-content > div:nth-child(1){
	    border-bottom: 1px solid rgba(160,160,160,0.2);
}

#lodge  div.row  div.col.s12.m7.l8.card.lodge-content{
	max-height: 250px;
	margin: 0;
}

i.lodge-mood{
	font-size: 1.3em;
}

div.lodge-content div.left h6,div.lodge-content div.right h6{
	margin: 0;
}

div.lodge-content div.card-content>p{
	margin-top: 15px;
}

div.lodge-price h5{

	margin-bottom: 0px;
}

div.lodge-price p{
	margin-top: 0px;
}

ul.amenities{
	margin:0;
}

ul.amenities li{
	display: inline-block;
	margin-left: 9px;
	font-size: 1.3em;
}

div.view-lodge{
	margin-top: 75px;
	padding: 15px;
}

div.view-lodge>div.col.s12.l8>h5{
	margin-bottom: 2px;
}

div.view-lodge>div.col.s12.l8>p{
	margin-top: 1px;
}
div.roomie:hover{
	transform: scale(1.05,1.05);
	transition: all ease .5s;
}

  .pin-top {
    position: relative;
  }
  .pin-bottom {
    position: relative;
  }
  .pinned {
    position: fixed !important;
  }
  .select-wrapper .caret{
  	fill: #ffa000;
  }