*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.greeting_header{

	width: 100%;
	height: 100px;
	padding: 10px;
	background: blue;
	color: #fff;
	text-align: center;
}

.msg_body{

	padding: 50px;

}